@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Outfit:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
}

main {
    width: 1000px;
    height: 350px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.txt-div {
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

p {
    width: 415px;
    margin-top: 20px;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    width: 400px;

}

.insight-class {
    color: hsl(277, 64%, 61%);
}

footer {
    position: absolute;
    top: 190px;
    display: flex;
    justify-content: space-around;
    width: 370px;
    margin-left: 35px;
    margin-top: 60px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.bg {
    position: relative;
    width: 500px;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.bg-frame {
    position: absolute;
    width: 500px;
    height: 100%;
    background-color: hsl(277, 59%, 45%);
    left: 50%;
    opacity: 0.6;
    border-radius: 0 10px 10px 0;
}
